{% extends 'main/base.html' %}
{% load static %}

{% block title %}Olympiads{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'layouts/search.css' %}">
<link rel="stylesheet" href="{% static 'olympiads/search.css' %}">
{% endblock %}

{% block content %}

<main class="margin-top-right">

    <h1 class="text-center"><b>Olympiads</b></h1>
    <br>
    <br>

    {% if olympiads %}
        <div class="flex">
        {% for i in olympiads %}
            <div class="card" id="article">
                <div class="card-body">
                    <h5 class="card-title">{{ i.title }}</h5>
                    <p class="card-text">{{ i.description }}</p>
                    <a href="{% url 'olympiad' i.id %}" class="btn btn-outline-light">Complete olympiad</a>
                </div>
                <div class="card-footer text-body-secondary">
                    <p>{{ i.date }}</p>
                </div>
            </div>
        {% endfor %}
            </div>
    {% else %}
        <p>No olympiads for now.</p>
    {% endif %}

</main>

{% endblock %}
