# IDEs
.vscode/
.idea/
.vs/

# Virtual enviroment
.venv/
venv/

# Python
__pycache__/
*.pyc

# Secrets
.env
.env.*
!.env.example

# Database
*.sqlite3
*.db

# Logo
logo.png

# Other
.DS_Store
Thumbs.db
media/
