{% extends 'main/base.html' %}
{% load static %}

{% block title %}Learni{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">
{% endblock %}

{% block content %}
<main class="content">
  <h1>Learn</h1>
  <h2>many things</h2>
  <br><br>

  <div class="flex-center text-center">
    <div>
      <h2>{{ lessons_count }}+</h2>
      <p>Lessons</p>
    </div>
    <div>
      <h2>{{ articles_count }}+</h2>
      <p>Articles</p>
    </div>
  </div>
  <br><br>

  <h2 class="text-center">Learn...</h2>
  <br>
  <div class="flex-center text-center">
    {% for i in random_articles %}
      <div class="card random-articles">
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <p class="card-text">{{ i.description }}</p>
          <a href="{% url 'specArticle' i.id %}" class="btn btn-success">Read the article</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <br>
  <div class="flex-center text-center" id="random-lessons">
    {% for i in random_lessons %}
      <div class="card random-lessons">
        <div class="card-body">
          <h5 class="card-title">{{ i.title }}</h5>
          <a href="{% url 'specLesson' i.id %}" class="btn btn-warning">Go to the lesson</a>
        </div>
      </div>
    {% endfor %}
  </div>
  <br><br>

  <h2 class="text-center">Many for learn and teach</h2>
  <br><br><br>
  <div class="container text-center">
    <div class="row justify-content-start">
      <div class="col-4"><a class="btn btn-warning" href="{% url 'lessons' %}"><i class="fa-solid fa-book"></i> Lessons</a></div>
      <div class="col-4"><a href="{% url 'lessons' %}" class="btn btn-info">Soon</a></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4"><a class="btn btn-success" href="{% url 'articles' %}"><i class="fa-solid fa-newspaper"></i> Articles</a></div>
      <div class="col-4"><a class="btn btn-light" href="{% url 'olympiads' %}"><i class="fa-solid fa-graduation-cap"></i> Olympiads</a></div>
    </div>
    <!-- <div class="row justify-content-end">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-around">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div> -->
  </div>
  <br><br><br>
</main>

{% endblock %}
