{% extends 'main/base.html' %}
{% load static %}

{% block title %}Learni{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">
{% endblock %}

{% block content %}
<main class="content">
  <h1>Learn</h1>
  <h2>many things</h2>
  <br><br><br>

  <div class="flex-center text-center">
    <div>
      <h2>{{ lessons_count }}+</h2>
      <p>Lessons</p>
    </div>
    <div>
      <h2>{{ articles_count }}+</h2>
      <p>Articles</p>
    </div>
  </div>

  <h2 class="text-center">Many for learn and teach</h2>
  <br><br><br>
  <div class="container text-center">
    <div class="row justify-content-start">
      <div class="col-4"><a class="btn btn-warning" href="{% url 'lessons' %}"><i class="fa-solid fa-book"></i> Lessons</a></div>
      <div class="col-4"><a href="{% url 'lessons' %}" class="btn btn-light">Soon</a></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4"><a class="btn btn-success" href="{% url 'articles' %}"><i class="fa-solid fa-newspaper"></i> Articles</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'olympiads' %}"><i class="fa-solid fa-graduation-cap"></i> Olympiads</a></div>
    </div>
    <!-- <div class="row justify-content-end">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-around">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
      <div class="col-4"><a class="btn btn-info" href="{% url 'lessons' %}">Soon</a></div>
    </div> -->
  </div>
</main>

{% endblock %}
