h1 {
    color: rgb(124 124 124);
}

h2, h3, h4, p {
    color: rgb(40 40 40);
}

main {
    width: 100%;
    background-color: rgb(79 79 79);
}

.margin-top-right {
    height: 100%;
}

#article, #lesson, #olympiad {
    height: 165px;
    width: 20%;
    max-width: 26%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

#btnCreate {
    display: block;
    width: fit-content;
    padding: 10px 16px;
}

.grid-articles, .grid-lessons, .grid-olympiad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 26%));
  gap: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-body {
    width: 100%;
    outline: 2px solid rgb(44 44 44);
    background-color: rgb(121 121 121);
}

.card-footer {
    width: 100%;
    outline: 2px solid rgb(44 44 44);
    background-color: rgb(91 91 91);
}

.input-group {
    border-radius: 15px;
    width: 450px;
}

.select {
    border-radius: 15px;
    width: 150px;
}
