h3, h4 {
    color: rgb(40 40 40);
}

#article, #lesson, #olympiad {
    width: 20%;
    max-width: 26%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

#btnCreate {
    display: block;
    width: fit-content;
    padding: 10px 16px;
}

.select {
    width: 130px;
}

.grid-articles, .grid-lessons, .grid-olympiad {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 26%));
  gap: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-footer {
    width: 100%;
}

.input-group {
    width: 450px;
}
