h1, h2, h3, h4, p {
    color: rgb(40 40 40);
}

main {
    width: 100%;
    background: linear-gradient(to top, #9a9797, #a9913d, #e1cb32, #9a9797);
}

#article, #lesson, #olympiad {
    height: 170px;
    width: 20%;
    max-width: 26%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

#article {
    height: 185px;
}

#olympiad {
    width: 40%;
    max-width: 45%;
}

#btnCreate {
    display: block;
    width: fit-content;
    padding: 10px 16px;
}

.grid-articles, .grid-lessons, .grid-olympiads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 26%));
  gap: 20px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.card-body {
    width: 100%;
    outline: 2px solid rgb(44 44 44);
    background-color: rgb(121 121 121);
}

.card-footer {
    width: 100%;
    outline: 2px solid rgb(44 44 44);
    background-color: rgb(91 91 91);
}

.input-group {
    border-radius: 15px;
    width: 450px;
}

.select {
    border-radius: 15px;
    width: 150px;
}

.border-btn {
    border: 2px solid black;
    background-color: #737373;
}

.border-btn:hover {
    border: 2px solid black;
}
