html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(53, 50, 50);
}

#main-div {
    background-color: rgb(53, 50, 50);
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid black;
    background-color: rgb(20, 19, 20);
    padding: 0 10px 0 10px;
}

footer {
    background-color: rgb(20, 19, 20);
    padding: 20px 0;
    color: white;
    text-align: center;
    align-items: center;
}

footer a {
    color: rgb(115, 115, 115);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, p {
    color: rgb(133, 132, 132);
}

.main-menu1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.text-center {
    text-align: center;
}

.non-decoration-text {
    text-decoration: none;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.margin-top-right {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 35px;
}

#logo {
    width: 80px;
    height: 80px;
}

#lessonsButton {
    margin-left: 5%;
}

/* Buttons */

.gray-btn {
    background-color: rgb(176 176 176);
    border-color: rgb(176 176 176);
}

.gray-btn:hover {
    background-color: rgb(155 155 155);
    border-color: rgb(155 155 155);
}
