html {
    height: 100%;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #9d7878, #5656a1);
}

#main-div {
    flex: 1;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 3px solid black;
    background: linear-gradient(to right, #131212, #1c1b1b, #1a1919);
    padding: 0 10px 0 10px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background: linear-gradient(to right, #131212, #1f1f1f, #131212);
    padding: 20px 0;
    color: white;
}

.footer-div-left {
    flex: 1;
    text-align: left;
    margin-left: 20px;
}

.footer-div-center {
    flex: 1;
}

.footer-div-right {
    flex: 1;
    text-align: right;
    margin-right: 20px;
}

footer a, footer p {
    color: rgb(115, 115, 115);
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, p {
    color: #151515;
}

.flex {
    display: flex;
    gap: 15px;
}

.flex-center {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.main-menu1 {
    display: flex;
    gap: 20px;
    align-items: center;
}

.flex-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.text-center {
    text-align: center;
}

.non-decoration-text {
    text-decoration: none;
}

.right-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: auto;
    margin-right: 20px;
}

.margin-top-right {
    margin: 0 0;
    padding-top: 10px;
    padding-bottom: 35px;
}

#logo {
    width: 80px;
    height: 80px;
}

#lessonsButton {
    margin-left: 5%;
}
