.content {
    padding-left: 30px;
}

.flex-center {
    gap: 65px;
}

h1 {
    margin-left: 20px;
    padding-top: 30px;
    font-size: 60px;
}

h2 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 50px;
}
