{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ lesson.title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'lessons/lesson.css' %}">
{% endblock %}

{% block content %}

<main class="lesson">
    <h2>{{ lesson.title }}</h2>
    <br><br>
    {% if lesson.video_url %}
        <iframe width="560" height="315" src="{{ lesson.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    {% elif lesson.presentation %}
        <a href="{{ lesson.presentation.url }}">Download presentation</a>
    {% elif lesson.document %}
        <a href="{{ lesson.document.url }}">Download document</a>
    {% endif %}
</main>

{% endblock %}
