{% extends 'main/base.html' %}
{% load static %}

{% block title %}Lessons{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'lessons/search.css' %}">
{% endblock %}

{% block content %}

<main>

    <h1 class="text-center"><b>Lessons</b></h1>
    <br>

    <form method="get">
        <input type="text" name="s" value="{{ prompt }}">
        <button type="submit">Search</button>
    </form>

    <div class="d-flex justify-content-center text-center">
        <a href="{% url 'createLesson' %}" class="btn btn-success" id="btnCreate">
            <i class="fa-solid fa-plus"></i> Create your own lesson
        </a>
    </div>
    <br>

    {% if lessons %}
    <div class="flex margin-left-right">
        {% for i in lessons %}
            <div class="alert alert-warning" id="lesson">
                <h3>{{ i.title }}</h3>
                <a href="{% url 'specLesson' i.id %}" class="btn btn-outline-warning">Go to lesson</a>
            </div>
            {% if forloop.counter|divisibleby:4 %}
                <div class="flex-br"></div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}

</main>

{% endblock %}
