{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'letsdoitanyway/main.css' %}">
<link rel="stylesheet" href="{% static 'letsdoitanyway/search.css' %}">{% endblock %}
{% block title %}Solutions{% endblock %}
{% block content %}

<main class="text-center">
    <h1><b>Solutions</b></h1>
    {% if solutions %}
        {% for i in solutions %}
            <div class="alert alert-warning" id="solu">
                <h3>{{ i.title }}</h3>
                <a href="{% url 'specSolution' i.id %}" class="btn btn-outline-warning">Go to solution</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No solutions yet.</p>
    {% endif %}

    <a href="{% url 'createSolution' %}" class="btn btn-success" id="btnCreate">
        <i class="fa-solid fa-plus"></i> Create your own solution
    </a>

</main>

{% endblock %}
