{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'letsdoitanyway/main.css' %}">
<link rel="stylesheet" href="{% static 'letsdoitanyway/search.css' %}">{% endblock %}
{% block title %}Let's do it anyway!{% endblock %}
{% block content %}

<main class="main-letsdoitanyway">
    <h1><b>Let's do it anyway!</b></h1>
    <h4>
        Don't know how to do task?
        There can be some help!
    </h4>
    {% if solutions %}
        {% for i in solutions %}
            <div class="alert alert-warning" id="less">
                <h3>{{ i.title }}</h3>
                <a href="{% url 'specSolution' i.id %}" class="btn btn-outline-warning">Go to solution</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No solutions yet.</p>
    {% endif %}

    <a href="{% url 'createSolution' %}" class="btn btn-success" id="btnCreate">
        <i class="fa-solid fa-plus"></i> Create your own solution.
    </a>

</main>

{% endblock %}
